.card{
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.lboro.ac.uk%2Fmedia%2Fwwwlboroacuk%2Fexternal%2Fcontent%2Fservices%2Faccommodation%2Fhallphotos%2FD5082-102-cp2.jpg&f=1&nofb=1);
    background-position: top;
}
.name{
    padding-top: 40%;
}
.bg-my-black{
    background-color: #121212;
}
.my-text{
    color: #737373;
}